
/* - expandcollapse.css - */


#content .expandcollapse {
	margin: 0;
	padding: 0 0 28px;
	list-style: none;
	overflow: hidden;
	clear:both;
}
#content .expandcollapse > li {
	vertical-align: top;
	margin-bottom: 0;
	border-bottom: 1px solid #B9B9B9;
}
.expandcollapse > li.odd {
	display: block;
	cursor: pointer;
	position: relative;
	color: #132749;
	font-weight: bold;
	padding: 9px 0px 8px 10px;
	border: 1px solid #B9B9B9;
	background: #FDFEFE;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2YyZjVmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2UxZTdmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGQ3ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #FDFEFE 0%, #F2F5F8 27%, #E1E7F0 72%, #CDD7E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFEFE), color-stop(27%,#F2F5F8), color-stop(72%,#E1E7F0), color-stop(100%,#CDD7E5));
	background: -webkit-linear-gradient(top, #FDFEFE 0%,#F2F5F8 27%,#E1E7F0 72%,#CDD7E5 100%);
	background: -o-linear-gradient(top, #FDFEFE 0%,#F2F5F8 27%,#E1E7F0 72%,#CDD7E5 100%);
	background: -ms-linear-gradient(top, #FDFEFE 0%,#F2F5F8 27%,#E1E7F0 72%,#CDD7E5 100%);
	background: linear-gradient(to bottom, #FDFEFE 0%,#F2F5F8 27%,#E1E7F0 72%,#CDD7E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#cdd7e5',GradientType=0 );
	overflow: hidden;
	/**width: 598px;*/	/* fixing IE7 under RR issue -sah 5/23/13 */
}
.expandcollapse > li.odd .plus{
	background: url(../images/bg-plus.gif) no-repeat;
	position: absolute;
	right: 8px;
	top: 10px;
	width: 13px;
	height: 13px;
}
.expandcollapse > li.odd .minus{
	background: url(../images/bg-plus.gif) no-repeat 0 -70px;
}
.expandcollapse > li.odd:hover,
.expandcollapse > li.expanded{
	background: #CED8E5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZDhlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2RhZTFlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2U5ZWRmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZkZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #CED8E5 0%, #DAE1EC 22%, #E9EDF3 71%, #FCFDFE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CED8E5), color-stop(22%,#DAE1EC), color-stop(71%,#E9EDF3), color-stop(100%,#FCFDFE));
	background: -webkit-linear-gradient(top, #CED8E5 0%,#DAE1EC 22%,#E9EDF3 71%,#FCFDFE 100%);
	background: -o-linear-gradient(top, #CED8E5 0%,#DAE1EC 22%,#E9EDF3 71%,#FCFDFE 100%);
	background: -ms-linear-gradient(top, #CED8E5 0%,#DAE1EC 22%,#E9EDF3 71%,#FCFDFE 100%);
	background: linear-gradient(to bottom, #CED8E5 0%,#DAE1EC 22%,#E9EDF3 71%,#FCFDFE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced8e5', endColorstr='#fcfdfe',GradientType=0 );
}
.template-document_view_careers_adv  #content .expandcollapse > li.even {
    padding: 0 !important;
}
#content .expandcollapse > li.even {
	padding: 9px 30px 8px 10px;
	line-height: 17px;
	border: 1px solid #DEDEDE;
	border-top: none;
	color: #333;
	background:none;
	
}

.js #content .expandcollapse > li.even {
	display: none;
}

#content .expandcollapse > li.last {
	border-bottom: 1px solid #B9B9B9;
}
#content .list-open {
	margin: 0;
	padding: 20px 0 12px;
	list-style: none;
	text-align: right;
}
#content .list-open li {
	display: inline-block;
	padding: 0 4px 0 8px;
	list-style: none;
	text-align: right;
	*display:block;	/*IE7*/
	*float:left;	/*IE7*/
}
#content .list-open li a {
	color: #182e51;
}

/* About CIA FAQ overrides */
.slider li a, .expandcollapse li a {
	background: none;
	border-image: none;
	padding: 0;
}

.slider li:first-child a, .expandcollapse li:first-child a,
.slider li a, .expandcollapse li a {
	border: none;
}

.slider li p a, .expandcollapse li p a {
	color: #2F5DAB;
	display: inline;
	font-weight: normal;
}

	.slider li p a:hover, .expandcollapse li p a:hover {
		background: none;
	}

	.slider li p a:hover, .expandcollapse li p a:hover {
		text-decoration: underline;
	}
.expandcollapse-all {
	clear: both;
	float: right;
	margin:0;
	padding:0;
	margin-bottom: .8em;
	list-style: none;
	text-align: right;
}
.expandcollapse-all li{
  display:inline-block;
  *display: inline;
  *zoom: 1; /* IE7*/
  padding:0 4px 0 8px;
  background:url(../images/separator-6.gif) no-repeat 0px 2px;
}
.expandcollapse-all li:first-child{
	background:none;
}
.expandcollapse-all li a{
	color:#182e51;
}

/* ./About CIA FAQ overrides  */